h1 {
	text-align: center;
}

table, th, td {
	border: 1px solid gray;
	margin-left: auto;
	margin-right: auto;
}

th, td {
	width: 30px;
	text-align: center;
}

table {
    border-collapse: collapse;
}

th {
	background-color: #66ff66;
	color: white;
}